ul.lst-kix_cn99u7u9dk3t-6 {
    list-style-type: none
}

ul.lst-kix_mokbydypfld5-2 {
    list-style-type: none
}

ul.lst-kix_cn99u7u9dk3t-7 {
    list-style-type: none
}

ul.lst-kix_mokbydypfld5-1 {
    list-style-type: none
}

ul.lst-kix_cn99u7u9dk3t-4 {
    list-style-type: none
}

ul.lst-kix_mokbydypfld5-0 {
    list-style-type: none
}

ul.lst-kix_cn99u7u9dk3t-5 {
    list-style-type: none
}

ul.lst-kix_cn99u7u9dk3t-2 {
    list-style-type: none
}

ul.lst-kix_mokbydypfld5-6 {
    list-style-type: none
}

ul.lst-kix_cn99u7u9dk3t-3 {
    list-style-type: none
}

ul.lst-kix_mokbydypfld5-5 {
    list-style-type: none
}

ul.lst-kix_cn99u7u9dk3t-0 {
    list-style-type: none
}

ul.lst-kix_mokbydypfld5-4 {
    list-style-type: none
}

ul.lst-kix_cn99u7u9dk3t-1 {
    list-style-type: none
}

ul.lst-kix_mokbydypfld5-3 {
    list-style-type: none
}

ul.lst-kix_cm7789ogt5am-1 {
    list-style-type: none
}

ul.lst-kix_cm7789ogt5am-2 {
    list-style-type: none
}

ul.lst-kix_cm7789ogt5am-3 {
    list-style-type: none
}

ul.lst-kix_mokbydypfld5-8 {
    list-style-type: none
}

ul.lst-kix_cm7789ogt5am-4 {
    list-style-type: none
}

ul.lst-kix_mokbydypfld5-7 {
    list-style-type: none
}

ul.lst-kix_cm7789ogt5am-5 {
    list-style-type: none
}

ul.lst-kix_cm7789ogt5am-6 {
    list-style-type: none
}

ul.lst-kix_cm7789ogt5am-7 {
    list-style-type: none
}

ul.lst-kix_cm7789ogt5am-8 {
    list-style-type: none
}

ul.lst-kix_cm7789ogt5am-0 {
    list-style-type: none
}

ul.lst-kix_cn99u7u9dk3t-8 {
    list-style-type: none
}

.lst-kix_mokbydypfld5-8>li:before {
    content: "\0025a0  "
}

.lst-kix_cm7789ogt5am-0>li:before {
    content: "\0025cf  "
}

.lst-kix_cm7789ogt5am-1>li:before {
    content: "\0025cb  "
}

.lst-kix_cm7789ogt5am-3>li:before {
    content: "\0025cf  "
}

.lst-kix_cm7789ogt5am-2>li:before {
    content: "\0025a0  "
}

.lst-kix_cm7789ogt5am-5>li:before {
    content: "\0025a0  "
}

.lst-kix_cn99u7u9dk3t-1>li:before {
    content: "\0025cb  "
}

.lst-kix_cm7789ogt5am-4>li:before {
    content: "\0025cb  "
}

.lst-kix_cm7789ogt5am-8>li:before {
    content: "\0025a0  "
}

.lst-kix_cn99u7u9dk3t-2>li:before {
    content: "\0025a0  "
}

.lst-kix_mokbydypfld5-0>li:before {
    content: "\0025cf  "
}

.lst-kix_cm7789ogt5am-7>li:before {
    content: "\0025cb  "
}

.lst-kix_cn99u7u9dk3t-7>li:before {
    content: "\0025cb  "
}

.lst-kix_cm7789ogt5am-6>li:before {
    content: "\0025cf  "
}

.lst-kix_cn99u7u9dk3t-8>li:before {
    content: "\0025a0  "
}

.lst-kix_mokbydypfld5-1>li:before {
    content: "\0025cb  "
}

.lst-kix_cn99u7u9dk3t-0>li:before {
    content: "\0025cf  "
}

.lst-kix_mokbydypfld5-4>li:before {
    content: "\0025cb  "
}

.lst-kix_mokbydypfld5-2>li:before {
    content: "\0025a0  "
}

.lst-kix_mokbydypfld5-6>li:before {
    content: "\0025cf  "
}

.lst-kix_cn99u7u9dk3t-6>li:before {
    content: "\0025cf  "
}

.lst-kix_mokbydypfld5-3>li:before {
    content: "\0025cf  "
}

.lst-kix_mokbydypfld5-7>li:before {
    content: "\0025cb  "
}

.lst-kix_cn99u7u9dk3t-5>li:before {
    content: "\0025a0  "
}

.lst-kix_cn99u7u9dk3t-3>li:before {
    content: "\0025cf  "
}

.lst-kix_cn99u7u9dk3t-4>li:before {
    content: "\0025cb  "
}

.lst-kix_mokbydypfld5-5>li:before {
    content: "\0025a0  "
}

ol {
    margin: 0;
    padding: 0
}

table td,
table th {
    padding: 0
}

.c3 {
    border-right-style: solid;
    padding-top: 0pt;
    border-top-width: 0pt;
    border-bottom-color: null;
    border-right-width: 0pt;
    padding-left: 0pt;
    border-left-color: null;
    padding-bottom: 0pt;
    line-height: 1.5;
    border-right-color: null;
    border-left-width: 0pt;
    border-top-style: solid;
    margin-right: 4pt;
    background-color: #ffffff;
    margin-left: 4pt;
    border-left-style: solid;
    border-bottom-width: 0pt;
    border-top-color: null;
    border-bottom-style: solid;
    orphans: 2;
    widows: 2;
    text-align: left;
    padding-right: 0pt
}

.c7 {
    border-right-style: solid;
    padding-top: 0pt;
    border-top-width: 0pt;
    border-bottom-color: null;
    border-right-width: 0pt;
    padding-left: 0pt;
    padding-bottom: 0pt;
    line-height: 1.5;
    border-right-color: null;
    border-top-style: solid;
    margin-right: 4pt;
    margin-left: 40pt;
    border-bottom-width: 0pt;
    border-top-color: null;
    border-bottom-style: solid;
    orphans: 2;
    widows: 2;
    text-align: left;
    padding-right: 0pt
}

.c5 {
    background-color: #ffffff;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Arial";
    font-style: normal
}

.c1 {
    margin-left: 6pt;
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.5;
    orphans: 2;
    widows: 2;
    text-align: left;
    margin-right: 6pt
}

.c2 {
    background-color: #ffffff;
    color: #273239;
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Arial";
    font-style: normal
}

.c6 {
    color: #273239;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 9pt;
    font-family: "Arial";
    font-style: normal
}

.c0 {
    color: #273239;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 8pt;
    font-family: "Arial";
    font-style: normal
}

.c10 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Arial";
    font-style: normal
}

.c8 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.5;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c11 {
    background-color: #ffffff;
    max-width: 562.5pt;
    padding: 72pt 18pt 72pt 31.5pt
}

.c9 {
    padding: 0;
    margin: 0
}

.c4 {
    height: 11pt
}

.title {
    padding-top: 0pt;
    color: #000000;
    font-size: 26pt;
    padding-bottom: 3pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.subtitle {
    padding-top: 0pt;
    color: #666666;
    font-size: 15pt;
    padding-bottom: 16pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

li {
    color: #000000;
    font-size: 11pt;
    font-family: "Arial"
}

p {
    margin: 0;
    color: #000000;
    font-size: 11pt;
    font-family: "Arial"
}

h1 {
    padding-top: 20pt;
    color: #000000;
    font-size: 20pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h2 {
    padding-top: 18pt;
    color: #000000;
    font-size: 16pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h3 {
    padding-top: 16pt;
    color: #434343;
    font-size: 14pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h4 {
    padding-top: 14pt;
    color: #666666;
    font-size: 12pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h5 {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h6 {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    font-style: italic;
    orphans: 2;
    widows: 2;
    text-align: left
}
.header{
    width: 100%;
    display: block;
    align-items: center;
    flex-direction: row;
}
 .header-contaier{
    display: block;
    align-items: center;
    align-content: center;
    text-align: center;
}
 .header-contaier h1{
    color: #FF7F03;
    font-family: 'Montserrat','Muli', sans-serif;
    text-align: center !important;
  }